* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  padding-top: 100px !important;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
  background-color: #86b6b3;
}

.buttoncontainer {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
}

.listado_ul {
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style:none;
  font-size: 1.5rem;
}

.list_group_item1 {
  display:block;
  width: 40%;
  margin-top: 10px;
  color: black;
  font-weight: bolder;
  border-color: blue, 3px, solid; 
}

.list_group_item2 {
  display:block;
  width: 20%;
  margin-top: 10px;
  color: black;
  font-weight: bolder;
  text-align: right;
}

.list_group_item3 {
  display:block;
  width: 10%;
  margin-top: 10px;
  color: black;
  font-weight: bolder;
  text-align:center;
}

.list_group_item4 {
  display:block;
  width: 10%;
  margin-top: 10px;
  color: black;
  font-weight: bolder;
  text-align: right;
}

.list_group_item5 {
  display:block;
  width: 10%;
  margin-top: 20px;
  color: black;
  font-weight: bolder;
  text-align: right;
}
