* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  padding-top: 100px !important;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}

.buttoncontainer {
  padding: 20px;
  text-align: center;
}

